* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

html {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

footer {
  font-size: 12px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}